<div class="jumbotron mt-4">
  <h2 align="center"><i class='bx bx-money-withdraw bx-lg' >SUSCRIPCIONES</i></h2>
  <br>
<!----->
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/736x/15/38/1d/15381d5d29d72783ea8d2fcf99e8d11e.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" align="center"><b>BÁSICO</b></h5>
      <p class="card-text" align="center">Precio mensual: $139</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p align="center">Me late chocolate, ofrece varios planes para que elijas el más adecuado para tus necesidades.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
           <cite title="Source Title">Aprende más sobre cómo compartir</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/564x/d2/0f/1f/d20f1f6467cb273aeb4688c42426fc12.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" align="center"><b>ESTÁNDAR</b></h5>
      <p class="card-text" align="center">Precio mensual: $219</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="https://i.pinimg.com/736x/b2/16/56/b216568973d2e0a89a791c0a9f11024d.jpg" alt="Card image">
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" align="center"><b>PREMIUM</b></h5>
      <p class="card-text" align="center">Precio mensual: $299</p>
    </div>
  </div>
</div>
<!----->
</div>